ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.container__header {
  background-color: #272f52;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  height: 100px;
}

.logo {
  position: relative;
  top: 40%;
  color: #ffffff;
  font-size: 30px;
}
.container__header a {
  text-decoration: none;
  position: relative;
  font-style: bold;
  font-weight: 500;
  top: 40%;
  color: #ffffff;
  padding: 40px;
  margin: 40px;
}

.icon {
  position: relative;
  top: 40px;
}
