.Section1__container {
  background: linear-gradient(90deg, #dfe9f3 0%, #ffffff 100%);
}

.text {
  position: absolute;
  width: 657px;
  height: 270px;
  left: 117px;
  top: 540px;

  font-family: Lobster;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 90px;

  color: #272f52;

  text-shadow: -11px 9px 6px rgba(0, 0, 0, 0.25);
}
.img__1 {
  border: 18px solid #485380;
  position: absolute;
  width: 592px;
  height: 643px;
  left: 847px;
  top: 326px;
  background: url(/src/assets/1.png);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 8px 32px 4px rgba(0, 0, 0, 0.35);
}

.img__2 {
  border: 18px solid #485380;
  position: absolute;
  width: 503.29px;
  height: 563.19px;
  left: 1118.22px;
  top: 364.64px;
  filter: blur(2px);
  background-image: url(/src/assets/2.png);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 8px 32px 4px rgba(0, 0, 0, 0.35);
}

.img__3 {
  background: url(/src/assets/3.png);
  border: 18px solid #485380;
  position: absolute;
  width: 410.54px;
  height: 459.4px;
  left: 1381.6px;
  top: 417.73px;
  filter: blur(7px);
  background-repeat: no-repeat;
  background-size: cover;

  box-shadow: 0px 8px 32px 4px rgba(0, 0, 0, 0.35);
}
