.thirdcomponent {
	position: relative;
	width: 100%;
	height: 100vh;
	background: linear-gradient(90deg, #dfe9f3 0%, #ffffff 100%);
}
.firstblock {
	/* position: relative; */
	position: absolute;
	z-index: 999;
	width: 30vw;
	display: flex;
	justify-content: center;
	left: 7em;
	top: 1em;
	background-color: #272f52;
	color: white;
	padding: 0.3em;
	font-size: x-large;
}
.secondblock {
	position: absolute;
	width: 30vw;
	/* height: 7vh; */
	padding: 0.3em;
	font-size: x-large;
	left: 6.5em;
	top: 1.4em;
	background-color: #ffc727;
	color: #ffc727;
	padding: 0.2em;
}
.rectangle2 {
	position: relative;
	top: 234px;
	left: 7em;
	width: max-content;
}
.rectangle2 ol {
	font-size: xxx-large;
	font-weight: 700;
	color: #272f52;
	line-height: 1.6;
}

.lastrect {
	position: relative;

	width: fit-content;
	top: 350px;

	left: 10%;
	font-size: xx-large;
	text-transform: capitalize;
	color: #272f52;
}
@media screen and (max-width: 600px) {
	.rectangle2 ol {
		left: 0em;
		font-size: x-large;
		font-weight: 700;
		color: #272f52;
		line-height: 2;
	}
	.lastrect {
		/* width: fit-content; */

		font-size: small;
	}
}
