.thirdcomponent {
	position: absolute;
	width: 1920px;
	height: 1080px;

	background: linear-gradient(90deg, #dfe9f3 0%, #ffffff 100%);
}
.rectangle1 {
	position: absolute;
	width: 904px;
	height: 80px;
	left: 207px;
	top: 86px;

	background: #ffc727;
}

.rectangle2 {
	position: absolute;
	width: 904px;
	height: 80px;
	left: 228px;
	top: 72px;

	background: #272f52;
}

.rectangle2 h1 {
	position: absolute;
	width: 361px;
	height: 43px;
	left: 290px;
	top: 21px;

	font-family: Barlow;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 43px;
	letter-spacing: 0.02em;

	color: #f2f2f2;
}
.lady {
	background-image: url("../assets/path1959.jpg");
	background-repeat: no-repeat;
	position: absolute;
	left: 63.46%;
	right: 16.98%;
	top: 13.26%;
	bottom: 23.25%;

	border: 2px solid #000000;
}
.sma {
	position: absolute;
	left: 72.17%;
	right: 27.05%;
	top: 13.29%;
	bottom: 84.83%;

	background: #000000;
	border: 0.264582px solid #000000;
}

.list1 {
	position: absolute;
	/* width: 296px; */
	height: 58px;
	left: 319px;
	top: 334px;

	font-family: Barlow;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 58px;

	/* identical to box height */
	letter-spacing: 0.02em;
	font-variant: small-caps;

	color: #272f52;
}
.list2 {
	position: absolute;
	/* width: 251px; */
	height: 58px;
	left: 319px;
	top: 502px;

	font-family: Barlow;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 58px;

	/* identical to box height */
	letter-spacing: 0.02em;
	font-variant: small-caps;

	color: #272f52;
}
.list3 {
	position: absolute;
	/* width: 482px; */
	height: 58px;
	left: 319px;
	top: 670px;

	font-family: Barlow;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 58px;

	/* identical to box height */
	letter-spacing: 0.02em;
	font-variant: small-caps;

	color: #272f52;
}
.footer1 h1 {
	position: absolute;
	/* width: 1326px; */
	height: 58px;
	left: 274px;
	top: 902px;

	font-family: Barlow;
	font-style: normal;
	font-weight: 600;
	font-size: 48px;
	line-height: 58px;

	/* identical to box height */
	text-transform: capitalize;

	color: #272f52;
}
